@model IEnumerable<Teste_AndreCosta_ASPNET_MVC_JR.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Clientes</h2>

<p>
    <a asp-action="AddOrEdit">Cadastrar novo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AddOrEdit", new { id = item.Id }) |                |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, produtoId = item.ProdutoId })
                </td>
            </tr>
        }

    </tbody>
</table>

